[2013-09-11 10:31] clementsen opened #3 "console breaks JS on IE"
console reference in code breaks on IE

If you want console a fix can be found here
http://stackoverflow.com/questions/3326650/console-is-undefined-error-for-internet-explorer

[2013-09-11 10:34] clementsen opened #4 "Corner option would be nice"
Being able to choose which corner on the icon the badge is placed on would be a nice addition (some icons look weird when badge is in lower right corner)

[2013-09-11 10:35] clementsen opened #5 "Changing font type would be nice"
Changing the font type from "bold" to "normal" would be a nice addition.

[2013-09-14 12:50] #3 closed, assigned to ejci

[2013-09-14 20:11] grigio opened #6 "404"
Failed to load resource: the server responded with a status of 404 (Not Found) http://lab.ejci.net/favico.js/favico-0.2.1.min.js

[2013-09-15 01:21] #6 closed, assigned to ejci

[2013-09-23 12:23] furkanacikgoz opened #7 "isn't work"
Hi,

I'm trying to this plugin on markafoni.com. But it isn't work.
Probably cause user-agent.

Do you have any idea?

[2013-09-23 23:49] augnustin opened #8 "Count higher than 9"
I've been checking the source code and it doesn't seem as easy as I expected, but it would be very nice to be able to count higher than 9.

Since there is space for '9+' ==> 2chars, it should be possible to go up to 99 and to replace 99+ by another symbol like infinite sybol.

[2013-09-27 06:10] #7 closed, assigned to ejci

[2013-09-27 15:07] boondiggle opened #10 "Black instead of transparent"
![favicon](https://f.cloud.github.com/assets/3919644/1226896/bb05fc80-2788-11e3-8e39-d5d0a7bf2ca9.png)
I use a png for the favicon. But when favico.js adds the bubble the transparent pixels get black. And it looks like the tool is centering the image.

[2013-10-01 10:12] Tjorriemorrie opened #12 "Reset method"
Is it possible to add a reset method? It's very difficult to figure out how to do it from your example.js

[2013-10-01 12:13] #10 closed, assigned to ejci

[2013-10-02 06:45] #12 closed, assigned to ejci

[2013-10-03 12:13] X4 opened #13 "Video keeps playing, not stoppable"
Hi,

clicking reset or any other button doesn't stop the video+audio being played on Firefox (haven't tested on Chrome) on your homepage.

This project is really useful and well done except that issue.

[2013-10-03 14:40] pichsenmeister opened #14 "not working on chrome"
it's working fine on firefox, but I don't get it working on chromium or chrome. that's my code and how i link the favicon. is there anything wrong?

<pre>
&lt;link rel="shortcut icon" href="http://localhost/oratio/favicon.ico"&gt;

window.favicon=new Favico({
    animation:'slide'
});
window.favicon.badge(count);
</pre>

[2013-10-04 09:57] #13 closed, assigned to ejci

[2013-10-04 15:23] #14 closed, assigned to ejci

[2013-10-05 16:44] #4 closed, assigned to ejci

[2013-10-05 16:44] #5 closed, assigned to ejci

[2013-10-05 16:44] #8 closed, assigned to ejci

[2013-10-21 04:14] Neablis opened #16 "Change your Bower.json files endpoint"
{
        "name": "favico.js",
        "version": "0.3.1",
        "homepage": "http://lab.ejci.net/favico.js/",
        "authors": ["Miroslav Magda magda.miroslav@gmail.com"],
        "description": "Favico.js is a library to manipulate the favicon, adding alert badges, render images or videos.",
        "main": "favico.js",
        "keywords": ["favicon", "badge"],
        "license": "MIT",

[2013-10-21 04:44] Neablis opened #17 "Uncaught SecurityError: An attempt was made to break through the security policy of the user agent."
Got the error on initialization on chrome.

Caused by declaring your favico in index.html

<link id="favicon" rel="shortcut icon" type="image/png" href="favico.png">

[2013-10-26 18:03] #16 closed, assigned to ejci

[2013-10-29 22:18] allenan opened #18 "Animation happens in slow motion when chrome tab is not the current tab"
I'm using Pusher to update several aspects of my application in real time, including the favicon badge.

Favico is working just fine for me while my application's tab is in the foreground. However, when another tab is selected, the badge change animations appear to happen in super slow motion. I'm guessing this might be because background tabs are given limited resources by chrome. I'm also seeing

[2013-10-30 17:32] adambom opened #19 "Badge fails for 3-digit numbers"
For any number greater than or equal to 100, the badge displays "00". This screenshot was taken from a badge that was meant to display 921:

![screen shot 2013-10-30 at 10 32 20 am](https://f.cloud.github.com/assets/294597/1439299/3f7fc0ee-4189-11e3-8da9-7972b2a64832.png)

[2013-10-30 19:22] #19 closed, assigned to ejci

[2013-10-30 20:04] #18 closed, assigned to ejci

[2013-10-30 22:00] adambom opened #22 "Race condition causing a null reference"
I've encountered an error that occurs on line 150:

[code]

This seems to happen intermittently, and I have yet to identify reliable repro steps. It seems to happen when performing multiple `badge` calls in succession. It also seems more likely to happen when the updates occur when the page is invisible.

My theory as to why this is occurring, and also why it's hard to repro, is that it's a race c

[2013-11-04 21:58] adambom opened #23 "Favicon cached too long in bookmark"
I have my site in my bookmarks toolbar in chrome. I've noticed that if I close the window while the favicon is displaying a non-zero number, it remains that way in the bookmarks toolbar. Is there any way to counteract this that you know of?

[2013-11-10 12:08] #23 closed, assigned to ejci

[2013-11-10 16:34] #17 closed, assigned to ejci

[2013-12-12 16:08] stanggt3 opened #24 "Question/Issue"
Is there any way to get this working with a CMS that doesn't use actual directories and pages?  Its a DB driven CMS, so a page like test.com/markets is not a physical file or folder anywhere.

I got it working to where I can push the favicon the first time, but every time after that I get an error saying that the favicon is on a different domain.

While inspecting the element, I see my normal favi

[2013-12-12 19:35] #24 closed, assigned to nobody

[2013-12-23 10:36] muhammadcahya opened #26 "Favicon badges count number text, not showing in Firefox"
Hello, thanks for great plugin
I try in chrome is working well, but in firefox the count number in favicon badges not showing.
![firefox](https://f.cloud.github.com/assets/4241620/1800226/fd3f6f40-6bbd-11e3-908d-97fb72b13577.jpg)

[2013-12-24 02:04] #26 closed, assigned to ejci

[2014-01-14 17:19] #22 closed, assigned to ejci

[2014-01-17 10:01] smartcorestudio opened #34 "Add an example (and maybe an official support) of using icon fonts"
With the lattest additions favico.js can support icon fonts for badge icons. And I think that it's really great news, opening new possibilities! So maybe it will be useful to add some examples of using this functionality. I tested it with FontAwesome and it works! Some simple icons (like "check" and so on) fit the bages very well!

[2014-01-17 10:50] smartcorestudio opened #35 "Permanent (looped) animation"
Is it possible to add a looped animation option? Or it will be too resource unfriendly? I'm speaking about something like blinking badge with icon, for example, when it's needed to draw users attention to the browsers tab

[2014-02-03 11:50] piranna opened #38 "Animation when removing badge"
On the examples, both calling to reset of decreasing the badge number down to zero it doesn't play an animation to remove the badge as happens with other quantities but instead the badge just plainly dissapear, that's a little bit annoying.

[2014-02-03 12:36] anteksiler opened #39 "Using 256x256 favicon"
Hi there,

We are using favico.js in our e-commerce solution here. (Try adding a new item to shopping bag).

http://themes.fuelthemes.net/uberstore/shop/

It was working fine, but when we switched to a higher resolution icon (256x256), Favico.js stopped working or stopped being visible.

The icon we are using is : http://themes.fuelthemes.net/uberstore/wp-content/themes/uberstore-wp/assets/img/fav

[2014-02-24 14:40] ledgerdary007 opened #43 "Error setting favicon. Favicon image is on different domain (Icon: , Domain: mmaprophet.com)"
Hi,

My favicon is located at http://mmaprophet.com/images/favicon.png but when I access
http://mmaprophet.com/event/UFC170 I will get the error message.

"Error setting favicon. Favicon image is on different domain (Icon: , Domain: mmaprophet.com)"
# My code:

link rel="shortcut icon" href="http://mmaprophet.com/images/favicon.png" type="image/png"
# script:

$(function() {
var favicon=new Favico

[2014-03-06 09:16] czjvic opened #44 "Check if canvas.getContext('2d'); is supported"
Before calling canvas.getContext('2d') on line 103 check if is function avalible. (IE8)

[2014-03-28 17:44] ChrisBowyer opened #45 "Breaks animated favicon"
Great script; easy to implement.

Slight issue, though: when active it breaks animated favicons. Any easy way around this, or plans to change it, or is it unavoidable?

[2014-03-30 17:24] #45 closed, assigned to ejci

[2014-06-13 18:25] AlexanderMelde opened #47 "Cross Domain Videos"
Hi, i have an video playing via html 5 video from an external source.
Is it possible to put them as thumbnail?
i did some research, and it looks like a convertion to base64 data format would solve the issue:
http://stackoverflow.com/questions/2390232/why-does-canvas-todataurl-throw-a-security-exception
There also seems to be another solution using javascript origin control:

[code]

The errors i a

[2014-06-15 07:15] #47 closed, assigned to ejci

[2014-08-14 09:20] jiyinyiyong opened #48 "This repo is too large for Bower"
It's 4.8M large when I try to install from Bower, that's really large. Considering the bad networking in China it would take some minutes to download. Could you figure out a solution to reduce the size...

BTW I noted there is samller one here but outdated: https://github.com/fastdivision/favico.js-lite

[2014-08-15 04:18] tiye opened #49 "the animation state `_running` sometimes stay `false` every time I call it"
I initialized with Favico like this:

[code]

but to find the badge not appearing when I call `favicon.badge(3)`. I debugged into `favico.js` but found the state `__running` stay `false` just like that `finished` function was never called.

[code]

But I failed to locate the problem. It happens in Chrome and Firefox but does not happen every time.
Looks like when I called it too frequenly and it b

[2014-09-29 19:11] Auroiss opened #52 "Multi-Photo Favicon?"
Hello, Miro and everyone I'm new to this website and blogging so I'm sorry if I say anything obvious, I'm just trying to learn. I'm trying to create a favicon and so far I haven't been able to make the proper one. I would like to have a diamond shaped outline that is empty with a photo inside of the outlines, so I know this requires two separate pictures but I just don't know how to do it. Can som

[2014-09-30 06:58] #52 closed, assigned to nobody

[2014-12-20 09:08] #49 closed, assigned to ejci

[2014-12-25 02:12] twolfson opened #54 "Allow for dynamic setter function"
I am interested in using `favico.js` for `slack-for-linux` to indicate unseen notifications. It would be used in the tray icon and possibly taskbar icon. Currently `favico.js` doesn't support this because it can only set against `elementId` or a `<link>` it creates.

To support this functionality, I suggest adding a new option which is a `setter` callback (i.e. a function that is run every time th

[2015-01-02 04:00] twolfson commented on #54
This has fallen quiet but it sounds like we are going to add it. I will speed it up by submitting a PR.

[2015-01-02 06:39] twolfson commented on #54
As mentioned in #55, the solution proposed/implemented wasn't fully minded about the problem. While we have a mechanism for setting to an arbitrary location, there is no mechanism for getting from an arbitrary location.

I got a workaround working for [`node-webkit`][] which involves creating a `link` inside of the `browser` context. However, we should consider the broader case (e.g. what if someo

[2015-01-08 12:23] A---- commented on #34
It also works with Glyphicons.

[code]

Unicode codes (“E013”) can be found in the CSS propety `content` in the `:before` of the glyphicon

[2015-01-08 14:10] ejci commented on #34
Im planning to add info about it to the readme and page

[2015-01-08 14:40] A---- commented on #34
That's alright. It isn't hard to figure out. It was more of a hint if someone was looking to do the same.

[2015-01-26 11:00] dertuxmalwieder opened #57 "Idea: IE11+ support."
It works:

http://www.enhanceie.com/test/favicon/dynamic.htm

[2015-01-26 11:05] ejci commented on #57
Awesome. I will add support for it.

[2015-01-30 14:06] beamkiller opened #58 "Doesn't work with custom .png favicon?"
Hi,

I want to implement this nice feature on my shop website.
But I got this error message in console:

[2015-01-30 14:09] ejci commented on #58
This looks like the favico is on a different domain then the page. Are you using CDN for favicon?

[2015-01-30 15:22] beamkiller commented on #58
No, its only in different path, not in the root.

But now i created a .ico favicon in root folder.

No error in console, but the badge doesn't appear :(.

My webpage is http://mpatika.hu

Thanks for the help :)

[2015-01-30 15:45] ejci commented on #58
Ah I see... I need to do a bugfix for that.
There is a fix for that but I still didnt released new version...

In the meantime maybe you can add id attribute to the favicon element:
[code]
[code]
Let me know if its working

[2015-01-30 17:14] beamkiller commented on #58
Unfortunately this doesn't solved the issue :).

After adding elementId:'someId'  ...

this new error message appeared:
favico-0.3.5.min.js:7  Uncaught Error initializing favico. Message: Cannot read property 'substr' of undefined

Thank you very much for debugging this.

[2015-01-30 20:48] ejci commented on #58
Its connected to this issue -> https://github.com/ejci/favico.js/pull/53
I will try to release a new version with that patch.

[2015-01-30 20:52] ejci commented on #58
The problem is that the library will attach to the
[code]
But Chrome will use
[code]
to display the favicon. So the badge is added to wrong element. The solution is to change all the rel="icon" elements not only the last one in the head tag.

[2015-01-31 00:25] beamkiller commented on #58
Change to what? Add ID attribute to every favicon? :+1:

Thanks for the clarficiation, I will wait for the update, or try issue #53.

Have a nice weekend :)!

[2015-01-31 19:21] ejci commented on #58
I will change it to change href of all rel="icon" elements. So it will work automatically.

[2015-02-06 07:49] twolfson commented on #54
Any feedback on this?

[2015-02-16 07:30] dszymczuk opened #61 "Angular JS Demo not working"
http://lab.ejci.net/favico.js/example-angular/

Not found http://lab.ejci.net/favico.js/example-angular/favico-0.3.5.min.js

[2015-02-17 13:56] escapedcat commented on #61
Cool, just wanted to mention the same :P

[2015-02-17 13:58] ejci commented on #61
Yep. I was rearranging folders and files and I forgot to change the path. Fix is on the way...

[2015-02-17 19:51] ejci commented on #61
Fixed

[2015-02-17 19:51] #61 closed

[2015-02-23 14:09] raananw commented on #57
Sadly not working on IE11, windows 8.1 . Would be wonderful thou!
![image](https://cloud.githubusercontent.com/assets/1381702/6329127/f0628d88-bb6d-11e4-9d1c-41dd37e3d155.png)

[2015-03-04 05:29] twolfson commented on #54
It has been 2 months since this issue was initially opened. Still looking for feedback on the approach. Thoughts?

[2015-03-04 09:30] ejci commented on #54
Hi. Sorry for replying so late. I will merge it. I think its a good idea to have "setter" function.
I would like to keep it as small as possible so Im not sure If I will add anything to support running it in node-canvas (or something similar)... but I will think about it.

[2015-03-05 07:48] twolfson commented on #54
I looked back over my past implementation. It feels hacky because I had to create a link so that the `href` could be pulled out of it. The `getter` support adds a couple of lines and is much less of a hack. I am going to add it in and we can discuss further in the PR =)

[2015-03-05 08:03] twolfson commented on #54
Never mind, I am realizing how ingrained we are with HTML element for now. Going to reduce back to `opt.setter`.

[2015-03-05 08:07] twolfson commented on #54
I keep on waffling on `getter` in my head. I am going to open another issue for discussion.

[2015-03-05 08:10] twolfson opened #66 "Allow for generic URL input"
With #54, we are allowing the export of the data URI itself. We should also allow to get a source URI with no element attached to it.

My first attempt was to imitate the DOM:

[code]

 However, now that I think about it, we can probably create a generic `link` and pass that through:

[code]

Thoughts on adding support for this? Currently in `slack-for-linux`, I am doing the same thing but outside

[2015-03-05 08:53] #54 closed

[2015-03-11 14:52] gugiserman commented on #43
I'm getting this error right now when running our app over https :(

[2015-03-21 16:58] ejci commented on #43
I removed the check for domain. If the image will have right header it should work from all domain.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

[2015-03-22 07:09] amurchick opened #67 "Incorrect error thow"
In code used:
[code]
In `catch` used:
[code]

When `Too many badges` happens - console output:
[code]

Needs change code to:
[code]
or
[code]

[2015-03-22 07:51] ejci commented on #67
Good catch. My bad. I will fix it in next release.

[2015-03-23 21:50] jasonhr13 opened #68 "Two different favicons firing"
When I leave the tab and go to a different tab, the icon animates up and is set to the bottom right. But if I leave the tab and go to a different app (like my text editor) the icon animates from top and is on top left, which is what I have the options set to. WHy would it do two different things based on which thing Im leaving it for?

[2015-03-24 07:04] ejci commented on #68
Thats really strange. Can you pls paste a code example how you are using it?

[2015-04-05 15:49] nchase opened #69 "npm package?"
I see that you have an npm-style package.json – are you open to publishing this repository on npm?

[2015-04-05 16:22] ejci commented on #69
You can find favico.js on bower. But if you feel that it will be also good in npm feel free to push the change.

[2015-04-07 03:00] nchase commented on #69
I published the current version. It is here: https://www.npmjs.com/package/favico.js

I tried adding you as a maintainer of the package (after which I planned to remove myself), but `ejci` doesn't appear to be a user at the npmjs.com registry.

Are you registered there under a different name, or have you not registered?

Here's the info for registering: https://docs.npmjs.com/cli/adduser

If/when

[2015-04-07 06:01] ejci commented on #69
Thanks for looking into it.
I think it will be easier if you remove it and I will add it again. It will be easier for future version.

[2015-04-09 15:34] ejci commented on #69
Will you remove it from the npm registry?
Because I will need to run `npm publish` after each release and if Im not the owner it will not work.

[2015-04-09 15:43] nchase commented on #69
I just ran `npm unpublish` but the repo is still showing up on NPM. maybe it's cached, I'll check back in a few minutes to make sure it's gone.

[2015-04-09 15:43] nchase commented on #69
looks like it's gone, go for it!

[2015-04-09 20:19] ejci commented on #69
I tried to publish it...
It looks like its there but for some reason it does not have readme and `npm publish` gave me few errors...
[code]
https://www.npmjs.com/package/favico.js

Will check later if its a cache/conflict issue or not (with your previous version). If yes I will bump the version to 0.3.8 and publish it during the weekend.

[2015-04-13 09:08] ejci commented on #69
And its out: https://www.npmjs.com/package/favico.js

[2015-04-13 09:08] #69 closed

[2015-04-13 12:25] nchase commented on #69
Awesome! Thank you.

[2015-05-08 19:22] hworld commented on #43
It appears that more is needed, even if the server returns correct headers. I sent in a PR at #72. Would be great to see if it works for others. It's working for me now.

[2015-05-08 19:24] ejci commented on #43
@hworld good catch! I will merge the change.

[2015-05-18 12:12] char0n opened #74 "Icons vs badge"
This is maybe more a question than a bug. I have been trying everything, but nothing seems to work.

First I will explain what is expected behavior:

0.) set badge
1.) change the icon, bud preserve the badge
2.) show badge on top of changed icon
3.) change the icon to original, bud preserve the badge
4.) continue the loop from the 0.)

My code looks like this:

HTML:
<link rel="icon" href="assets/

[2015-05-18 12:26] ejci commented on #74
You are not missing anything. Its expected.

Its not possible to have custom image and badge on it in the same time.
Badge is always rendered on top of favicon default image.

[2015-05-18 12:29] char0n commented on #74
Even if the custom image is also ICO format file ?

[2015-05-18 12:34] ejci commented on #74
Even then. Thats the way how it works now.
Feel free to create a patch to make it work like you want.

[2015-05-18 13:11] char0n commented on #74
Ok thanks, I used https://github.com/tommoor/tinycon which is referenced from your project, that does exactly what I need.

[2015-05-18 13:11] #74 closed

[2015-06-07 11:15] EpicWumbo2048 opened #77 "SecurityError in Chrome 43.0.2357.81 on Windows 8.1"
To recreate:
  run Chrome 43.0.2357.81 on Windows 8.1 Pro
  browse to some web page which has a <canvas>
  in console:
    new Favico()

Error received:
  Uncaught SecurityError: Failed to execute 'toDataURL' on 'HTMLCanvasElement': Tainted canvases may not be exported.

Stack trace:
  L.setIcon
  M.reset
  M.ready
  a.hasAttribute.c.onload

[2015-06-07 12:23] ejci commented on #77
This kind of security error you will get when favicon image is on different domain then the script is running (for example its on CDN). If the image doesn't not have proper response header ``` Access-Control-Allow-Origin: * ``` browsers will block access to that image.

You can read more about CORS here: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

Let me know if you have

[2015-06-07 12:40] EpicWumbo2048 commented on #77
This occurs before I specify an image. I fully intend to give it an image on the same domain, but I get this security error before I even specify one. I'm rather confident that this is a bug and is worth fixing.

[2015-06-07 13:34] ejci commented on #77
Can you share a code sample? Or a link?

[2015-06-18 03:15] migig opened #79 "Dirty indicator instead of number?"
Is there a way to superimpose a dirty indicator (e.g. a small dot / circle) instead of a number?

There is an icon font option, but that is too complicated for something so simple. Then there is the option of showing a symbol, but the `Favico` object only accepts numbers.

Is there a way to do this?

[2015-06-18 03:27] migig opened #80 "Filename for minified file without version number?"
The repo has a minified file with this format: `favico-0.3.7.min.js`. Which is non-standard, and is a hassle to get working with build scripts.

Is it possible to use a standard filename for the next release, i.e. without anything dynamic (in this case, version numbers)?

[2015-06-18 03:49] #80 closed

[2015-06-18 03:50] migig commented on #80
I'll just fiddle with the build scripts to get this working.

[2015-06-18 10:38] ejci commented on #79
Currently now. But feel free to push the change.
You can use the same background/font color and it will show you "dot" (but I guess you want something smaller)

[2015-06-18 11:55] migig commented on #79
@ejci Excellent idea! Thanks! :beer:

[2015-06-18 11:55] #79 closed

[2015-06-18 11:59] migig opened #81 "TypeError: this is undefined"
I'm getting the error `TypeError: this is undefined` because of the very last block of code in the library:

[code]

If `this` is replaced with `window`, then it works.

[2015-06-18 12:11] ejci commented on #81
Can you share more code? Because its hard to tell whats wrong your example.
Also dont forget that "this" is depended on context https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this

[2015-06-18 12:13] ejci commented on #81
Ah my bad. The code sample is from the lib. Can you share how you are using it in your code?

[2015-06-18 16:20] migig commented on #81
@ejci Yes I'm using it exactly like in the docs. If I don't use it, I still get this error - I get the error just by including the library.

I was thinking that maybe it's a conflict with another library, but I'm not sure. It's weird that no one else has reported this error.

But it's definitely the source of the error, in my case.

[2015-06-18 17:55] ejci commented on #81
Thats really weird... because if the script is just included it should run in window context and this should be window.
Something weird is happening there...
Try to remove libraries one by one to see what is causing it. Or if you have a link I can check the code and maybe I can help.

[2015-06-18 23:17] migig commented on #81
@ejci Good idea! I will do that and let you know of the results. Thanks for your advice!

[2015-06-19 06:43] migig commented on #81
I discovered the problem. There was a "use strict;" being added when my scripts were being concatenated. And this caused the favico.js script to break badly. Not sure why though, because it already runs in strict mode.

But, the `use strict` is inside the `Favico` function, and the problem was outside, in the AMD/CommonJS/ScriptTag declarations. Maybe it should be moved out into the module level.

[2015-06-19 06:44] #81 closed

[2015-06-19 14:54] wwselleck opened #82 "Specifying "element" option changes src attribute instead of href"
I need to change multiple <link> tags at the same time for browser compatibility reasons, so I'm creating 2 instances and specifying the "element" option on each. But when you specify that option it changes the src attribute instead of the href and the browsers just take the href and ignore the src.

I see this
[code]

in `link.setIcon`, but am a little confused to its purpose considering the webs

[2015-06-20 11:19] ejci commented on #82
You are right. It should be something like this:
[code]

[2015-06-20 17:46] ejci commented on #82
Thanks!

[2015-07-08 21:00] djalmaaraujo opened #84 "Trying to use inside of a Chrome Extension got error"
Uncaught SecurityError: Failed to execute 'toDataURL' on 'HTMLCanvasElement': Tainted canvases may not be exported.

[2015-07-09 08:16] ejci commented on #84
Can you describe in more detail what are you trying to do in that extension?
Are you trying to manipulate favicon in page context script?

[2015-07-20 13:45] adam-lynch commented on #82
Should be closed as #83 fixed this

[2015-07-20 13:46] adam-lynch commented on #48
Isn't there a bower equivelant of .npmignore? I know there are `main`

[2015-07-20 13:47] adam-lynch commented on #48
Isn't there a bower equivelant of `.npmignore`? I know there can be an `ignore` property in your `bower.json` but not sure if it actually prevents them from being downloaded.

[2015-07-20 13:58] ejci commented on #82
yep. Thanks for notifying me. Closed

[2015-07-20 13:58] #82 closed

[2015-07-20 14:01] adam-lynch opened #85 "Not working in Chrome with multiple icons"
Nothing is happening.

I think it might be updating the wrong icon. I see that there's an `element` option but specify the simple favicon doesn't work. If a different icon is actually in use by Chrome (surely not, right?), then I don't know which I should be specifying.

So next I tried creating a favico instance for every `link[rel="icon"]` I have and updating all of them in a loop. That didn't w

[2015-07-20 14:09] adam-lynch opened #86 "element option seems to be broken"
If I only have one favicon, it works with the following code:

[code]

But not with:

[code]

[2015-07-20 14:10] adam-lynch commented on #85
The loop method might not work because of #86

[2015-07-20 14:32] adam-lynch opened #87 "0.3.9 isn't available via bower"
![image](https://cloud.githubusercontent.com/assets/1427241/8778230/80163c82-2ef4-11e5-8d29-fa0a36a26e48.png)

[2015-07-20 14:32] adam-lynch commented on #86
Duplicate of #85. Related: #87

[2015-07-20 14:32] #86 closed

[2015-07-20 14:36] adam-lynch commented on #85
The loop method now works once I install from master (see #87)

[2015-07-20 14:37] adam-lynch commented on #85
Is that even recommended though?

[2015-07-20 18:37] ejci commented on #87
My bad. I forgot to push the tag.
Fixed now:
[code]

[2015-07-20 18:37] #87 closed

[2015-07-20 18:39] ejci commented on #85
Not the best solution but it works. I need to figure out how to do it directly in library so there will be only one instance...

[2015-07-20 19:24] adam-lynch commented on #87
Thanks :+1:

[2015-07-20 19:25] adam-lynch commented on #85
Yeah that would be good.

[2015-07-23 03:16] vinnymac opened #89 "v0.3.9 not available on NPM"
If I try to `npm install favico.js` I get version `0.3.8`.
If I visit the [packages site](https://www.npmjs.com/package/favico.js) on npmjs, I also see `0.3.8`.
Looks like it hasn't been published, but I see `0.3.9` has been out for almost 10 days now.

I can easily require the latest release through github, but I would rather get it through npm, so if you could put it up I would appreciate it. Th

[2015-07-23 09:15] ejci commented on #89
Done. Sorry I forgot to publish it.
[code]

[2015-07-23 09:15] #89 closed

[2015-07-27 19:17] engelgabriel commented on #85
It would help us with https://github.com/RocketChat/Rocket.Chat/issues/348

[2015-07-27 20:16] ejci commented on #85
@engelgabriel I will find a solution asap

[2015-07-27 20:26] engelgabriel commented on #85
WOW! Thanks @ejci

[2015-07-30 21:03] vinnymac opened #90 "Detached DOM Nodes"
#### Overview
I found some memory leaks via the calls to `document.createElement` in favico.js `v0.3.9`.

#### OS and Browser
`Ubuntu Gnome 14.04 64-Bit`
`Chromium Version 43.0.2357.130`

#### How to Reproduce
1. Visit the [favico.js homepage](http://lab.ejci.net/favico.js/).
2. Open up the Google Chrome Developer Tools
3. Select the Profiler tab
4. Select `Take Heap Snapshot` and then `Take Snaps

[2015-07-31 07:55] ejci commented on #90
Thanks for reporting. I will look into it.

[2015-08-04 10:18] gary-teamwork opened #91 "Position not respected when using animation to update badge"
Noticed on chrome/firefox latest stable that when we update the badge value using an animation, after animation ends, the red circle is at the 'bottom' position whereas we had set the position to be top.

This is particularly prevalent when the favicon is being displayed on the browser tab that is not the current active tab in the browser.

[2015-08-10 10:06] souperk opened #92 "NS_ERROR_NOT_AVAILABLE"
Hello, I was trying to integrate https://github.com/jsxc/jsxc on my http://simplemachines.org forum (http://poke.lagos.p4u.gr) and I fell in this error. After some digging I traced the error on jsxc.dep.js on lines 32979 or favico.js on line 152 (since jsxc.dep.js is a copy of favico.js adding depedencies only).

[code]

After that I changed the line and it seems to work.
[code]
I note that I have

[2015-08-10 10:11] sualko commented on #92
Related jsxc/jsxc#208

[2015-08-11 19:26] ejci commented on #92
Thanks for reporting and fixing it. I merged the pull request.

[2015-08-12 07:03] pandersson06 opened #94 "TypeError: _img.attachEvent is not a function"
Hi, after the latest commit, I get this error on my server.
"TypeError: _img.attachEvent is not a function /node_modules/favico.js/favico.js:152"

latest commit "45004bf714a903ac7d4a2140dc9067b2ce818c7f"

Don't know if I need to change something on my server or if its a bug in favico.

[2015-08-12 07:58] ejci commented on #94
My bad. I reverted it.

[2015-08-12 08:14] pandersson06 commented on #94
It works now again. Thanks.

[2015-08-12 08:14] #94 closed

[2015-08-14 10:19] char0n opened #96 "Chrome + image() method"
On latest Chrome  44.0.2403.130 m (64-bit), image() method no longer works. You can see the problem even on your demo page http://lab.ejci.net/favico.js/. Clicking on button "Set Icon" removes the old icon from the tab, but doesn't append the new one.

Affected seems to be only 0.3.9, 0.3.7 works as expected.

[2015-08-14 10:37] ejci commented on #96
I will look into it

[2015-08-24 15:36] anteksiler opened #97 "WP 4.3"
I couldn't get the favicon to work on WordPress 4.3. It has its own favicon upload feature. Favico is actually running and no errors are shown. You can check it out here:
http://bronx.fuelthemes.net/

[2015-08-24 15:41] ejci commented on #97
Related to #85 and #86.
I will try to fix it once I find some time

[2015-09-01 15:22] #39 closed

[2015-09-01 15:23] anteksiler commented on #97
Hi @ejci, any updates on this?

[2015-09-02 18:07] ejci commented on #97
Not yet.
But feel free to propose (PR) solution.

[2015-09-18 11:37] aitorllj93 commented on #48
:+1:  @adam-lynch bower's ignore just does exactly that

Copy paste from http://bower.io/docs/creating-packages/#bowerjson-specification:

ignore

Array of Strings

Recommended

A list of files for Bower to ignore when installing your package.

Note: symbolic links will always be ignored. However bower.json will never be ignored.

The ignore rules follow the same rules specified in the gitignore p

[2015-09-18 12:05] aitorllj93 commented on #48
I have made a bower install (I saw that the bower.json already contains the ignore property) and the ignored files aren't in the installation folder.
 But it seems that bower removes them from the folder after downloading it :(

[code]

That archive (even being compressed)  has the 4,8M lenght as mentioned by @jiyinyiyong

I think is most an issue of how Bower manages the packages download (simply

[2015-09-21 17:57] ubershmekel commented on #85
I was hit by this as well when I tried to modify a confluence favicon.

[2015-10-09 16:36] jgacuca567 opened #99 "Incorrect Url on the Source button"
On the source button when I click on the view source it redirects to a 404 page.
<img width="1187" alt="screen shot 2015-10-09 at 12 34 47 pm" src="https://cloud.githubusercontent.com/assets/4000076/10399700/4a32c2fc-6e82-11e5-91b9-d5f5d520a9ec.png">

I believe the correct link should be (https://github.com/ejci/favico.js)

[2015-10-14 13:25] Yelbaev commented on #96
Hello
I faced this issue and found out that the cause is that image is not loaded at the moment it is used for drawing on canvas, so it results empty canvas.

This can be solved by one of two ways:
1) draw canvas only after onload event is fired
2) use initial image element, that is passed to image(), without creating new image element... in this case developers can trigger image() only after thei

[2015-10-21 12:47] asiminiceanu commented on #96
I am facing the same issue.
I am pre-loading my two images like this:

[code]
The Apache is serving these files with the cache headers.
The browser knows these files before I set the icon image.
The JS is caching the getElementById results in some variables and I use these to call the image method:

[code]
I am seeing requests done to get the images from the server even if these are already retrie

[2015-10-22 11:21] anuragagarwal561994 commented on #92
why was this commit reverted back? I am still facing the issue

[2015-10-24 13:40] sualko commented on #92
@ejci Please provide some information, why this was reverted. Thanks.

[2015-10-25 13:51] ejci commented on #92
@sualko I pushed a different fix for that issue.
Sorry for not explaining why I reverted. The problem was that the original fix was in wrong place. The change should be in ``init`` method (see my commit). I tested it on FF and it looks fine. Pls let me know it works also for you.

[2015-10-25 14:09] #96 closed

[2015-10-25 14:17] #99 closed

[2015-10-25 14:17] #92 closed

[2015-10-25 14:18] #77 closed

[2015-10-25 14:18] #68 closed

[2015-10-25 14:19] #67 closed

[2015-10-25 16:39] ejci commented on #48
This should be sorted out now. All the unnecessary files were moved to special [resources](https://github.com/ejci/favico.js/tree/resources) branch.

[2015-10-25 16:39] #48 closed

[2015-10-26 10:52] sualko commented on #92
Thanks for that clarification. If I have time, I will test this fix.

[2015-10-29 16:22] acg commented on #91
I can confirm this issue. When the tab has focus, position is respected. When the tab doesn't have focus, no animation happens, and the badge is placed at bottom even if you're using `position: "up"`.

[2015-10-29 16:28] ejci commented on #91
Thats very strange. I will try to look into it.

[2015-10-29 16:31] acg commented on #91
Patch incoming.

[2015-10-29 16:39] ejci commented on #91
@acg :+1:

[2015-10-30 09:21] #91 closed

[2015-12-03 22:06] engelgabriel commented on #85
Hi @ejci I hope you are well... any ideas on this one?

[2015-12-11 08:45] cthedot commented on #57
this does work in Edge too it seems (normal lib does not work so claiming IE11+ support is actually wrong ;)

[2015-12-27 23:21] aviau opened #103 "Mention Dual license in package.json + header"
Hello,

Could you please mention the dual license in the package.json file and in the header of favico.js?

Is there a reason GPL is only mentioned in the README?

This is needed for the Debian project.

[2015-12-28 19:33] #103 closed

[2016-01-04 13:49] kumarharsh commented on #57
The main library does not work in IE11 or Edge (Windows 10)

[2016-01-24 04:34] cjwelborn opened #108 "webcam doesn't work for Chrome on insecure origins."
Trying the webcam demo on http://lab.ejci.net/favico.js/ doesn't do anything for Chrome 48.0.2564.82.
The button text changes (both buttons), but the icon doesn't change and I'm never asked for permission to use the webcam. `Stop webcam` seems to refresh the page.

Console output:
[code]

[2016-01-24 07:12] asiminiceanu commented on #108
That is normal behavior since last December on Chrome for getUserMedia.

On Sun, Jan 24, 2016, 06:34 Christopher Welborn <notifications@github.com>
wrote:

[2016-01-24 11:59] ejci commented on #108
Yep. Its a chrome behavior (which was a good decision from them to make it like that).
I will try to update the page to work on https.

[2016-01-24 18:55] cjwelborn commented on #108
Sorry, for not being clear. It was late when I filed this. Updating the demo page to HTTPS was my suggestion (from the console output). I just wanted to include the behavior that I saw. I switched to HTTPS a while back using StartCom. My host is WebFaction, and they made it pretty painless. The big browsers are making it harder and harder to get away with HTTP (with good reason I think). I don't b

[2016-01-24 19:13] ejci commented on #108
Im using AWS s3 for serving lab.ejci.net. But its also easy to make it work (looking into it).

[2016-01-25 02:24] dbkaplun opened #109 "Configurable font-size"
I want to use favico.js to display a percentage like `99%` rather than a number, but the font is too big. Is there a way to configure `font-size` or, even better, `letter-spacing` to reduce kerning?

[2016-01-26 08:16] ejci commented on #109
The code is automatically adjusting the font size in case there are numbers higher then 99.
So I don't think you need that option (font-size). I just need to enable passing a string instead of number to the badge function.
Will this solve your problem?

[2016-01-26 18:24] roccomuso opened #110 "built-in counter"
Wouldn't be useful to have a built-in counter?
Instead of handling manually the increase, store it in a var etc..

     favicon.badgeUp();
     favicon.badgeDown();

[2016-01-27 20:17] ejci commented on #110
Hi,
To be honest thats  only one specific use case how the badge can be used. I think its easier to maintain "business logic" in the code then in the library.

[2016-01-28 14:42] KharitonOff commented on #34
I tried to implement it in my angular website but It doesn't work for me.
I've linked FontAwesome in html-file

    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

and call favico.js as described in readme.md

    var favico = new Favico({
        fontFamily : 'FontAwesome'
    });

    favico.badge("\f0f3");

It shows me a badge with a

[2016-01-28 14:51] A---- commented on #34
`favico.badge("\uE013");`

That's how you do unicode character escaping ;)

[2016-01-28 14:58] KharitonOff commented on #34
great! you saved my day, thank you :)

[2016-01-28 22:00] sebastienbarre commented on #109
That would nice indeed. Consider Font Awesome's [fa-play](http://fortawesome.github.io/Font-Awesome/icon/play/) icon, it's pretty big, and ends up right at the edge of the badge, be it a rectangle or a circle. I guess maybe an extra margin would help here.

[2016-02-10 17:26] roccomuso opened #111 "Error getting favicon with http basic authentication."
My server requires an HTTP basic authentication. After signed in I can see in console:

    Failed to load resource: the server responded with a status of 401 (Unauthorized)

And the favicon won't be loaded.

[2016-02-14 22:05] bwedding opened #112 "Animations Fail If Not Active Tab"
Execute this code on a page:

 var i = 0;
 var favicon = new Favico({
     position : 'up',
     animation:'slide'
 	});
 	tsttimer= setInterval(function(){
 	        favicon.badge(i++);
 		}, 1000);

It will appropriately execute the slide animation as long as you are on the page. Now change to a new tab. The count will update on the favicon, but the slide animation will not execute.

[2016-02-14 23:46] bwedding commented on #112
I figured out the problem but I'm not sure there is a solution. Most browsers limit the setTimeout() function to 1000 mSec when the tab is not active, regardless of what value you use. I tried replacing the setTimeout() in the animation run function with a hard delay sleep() function but couldn't get that to work correctly either.

[2016-02-16 04:00] bwedding commented on #112
Ok, if anyone is interested, I got them working on inactive tabs by overriding setTimeout() and clearTimeout() with a webworker using the code found here:
https://gist.github.com/BinaryMuse/19aa812cd2277d8c9555

[2016-02-16 20:45] bwedding opened #113 "No Animation in IE11"
Despite saying this works with IE11, it does not. The badge never appears at all.

http://screencast.com/t/8VirBeHX7M

[2016-02-18 01:57] bwedding commented on #112
You can close this issue. I see now that it is intentionally disabled because of the 1 second browser limitation imposed on setTimeout()

[2016-02-18 01:57] #112 closed

[2016-03-28 17:42] mjbradford89 commented on #113
Also not working in Edge.

[2016-04-09 19:54] jarthod commented on #90
Hi, I tracked down a memory leak in our integration test suite for days before finding that it came from favico.js: https://github.com/thoughtbot/capybara-webkit/pull/443#issuecomment-206971285
It's looks quite serious as it's leaking dozens of megabyte each time, and this leak even survives a page change apparently.

I've had to circumvent this by restarting webkit server at fist but now it would

[2016-05-10 12:20] avipinto opened #117 "favicon not showing in chrome if there are more then one <link rel="icon""
(don't know if it is from the last chrome version or the one before it)

the last link icons (rel="icon") i have at the head are
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
as far as i know this is the recommended way to go.

the script takes the last one and paints on it.
it used to work

[2016-05-19 18:46] Heark opened #118 "[Enhancement] Sub Library"
A simple sub library in accordance with Favico with simple functions

`/*
Notifications with Favico.js - Heark

Functions:
notif.count - total number of current notifications
notif.update() - Adds 1 notification to favicon
notif.titleUpdate() - updates the favicon (already called every second)
notif.clear() - Clears all notifications
notif.dec() - Removes 1 notification
notif.forEach(array) - Adds

[2016-05-19 18:50] graingert opened #119 "I'm pretty sure requestAnimationFrame would improve the performance of this a lot."

[2016-05-23 07:31] woaixiangbao opened #121 "favico.js cann't work in firefox"
The error is :
![image](https://cloud.githubusercontent.com/assets/1953879/15463328/33f8cc94-20fb-11e6-9902-2fd27480d130.png)

This line(157): _context.drawImage(_img, 0, 0, _w, _h);

if add try catch ,it can work well.

[2016-06-09 20:36] kcampion commented on #117
+1

[2016-06-14 11:20] jsuski commented on #117
+1

[2016-06-15 10:04] dtheodor commented on #43
What about when there is no server support for CORS, which does not allow canvas to be used at all. Can you bypass the canvas?

[2016-06-30 02:09] #108 closed

[2016-07-08 15:14] seiyria commented on #117
seems to be a dupe of #85

[2016-07-11 14:28] franzejr opened #123 "Doesn't work with custom .gif image?"
Hello,

I have tried to use this library passing a gif as image, but it seems it does not work? I didn't find in documentation about this. Can anyone help me?!

Thanks in advance,

[2016-07-11 14:35] franzejr commented on #123
Ow. I just saw it: https://github.com/ejci/favico.js/issues/45

GIF are not supported. :/

[2016-07-11 14:35] #123 closed

[2016-07-27 19:36] mateuszjarzewski commented on #121
tnx i will catch this crap

[2016-09-24 16:54] BlackGlory opened #124 "Provide a callback function after _ready = true"
drawVideo() only work when _ready is true, favico.js should provide a callback function for it.

like this:
[code]

[2016-10-04 12:45] Huseriato opened #125 "Add alpha: false to _canvas.getContext"
Setting `alpha` to `false` for the canvas context results in much better font rendering. Small fonts are much better readable. I've added it for both occurences of `_canvas.getContext('2d', {alpha: false})`

[2016-10-11 04:10] chris opened #126 "Doesn't work with React?"
This library looks great! I'd love to use it in a React app, but I haven't had luck getting it to work. Since it references `window` from what I've seen I need to call it in `componentWillUpdate` or `componentDidMount`. I've tried that, and I don't get any JavaScript errors, but the favicon/badge is not updated. Has anyone successfully used this with React, and if so, can you share how?

[2016-10-17 10:35] andrewdacenko commented on #126
@chris just did it.

[code]

[2016-10-17 18:13] chris commented on #126
Thanks @andrewdacenko - unfortunately my setup must be different enough that it's not working. I get no errors and code shows it's running, but no change to the favicon. Here's essentially a snippet of what I have (we use Webpack):

[code]

The console log prints out, so I know the code is running, just no change to the badge.

[2016-10-17 18:29] andrewdacenko commented on #126
@chris have you tried to use require instead of import?

`const Favico = require('favoco.js');`

Import didn't work for me.

[2016-10-17 18:37] chris commented on #126
@andrewdacenko tried that, but didn't make any difference. I will see if I can spend time later this week to look through the code and see if I can figure anything out. Given I get no errors in the JS console, it seems like it's something more subtle.

[2016-10-17 20:39] andrewdacenko commented on #126
@chris just got it working with [minimal setup ](https://github.com/andrewdacenko/favico.js-issue-126).

Be sure to have `favico.ico` at your website otherwise library won't work.

[2016-10-17 21:26] chris commented on #126
Thanks so much for your efforts @andrewdacenko. It seems to have something to do with not finding the image link. I've proven that the library is working if I pass it an `elementId`. This has something to do with how our wrapper/main page generates the icon link in the `HEAD` section, etc. But, thanks much, as this has led me to where to explore/fix.

[2016-10-17 21:51] andrewdacenko commented on #126
@chris glad to be helpful :)

[2016-10-31 17:14] kmaraz commented on #117
@ejci Please, what is the status with this issue? Can you update the status please?

[2016-11-01 17:48] trickpattyFH20 commented on #117
same issue here. looks fine in godzilla flamewolf, but in Chrome the second call to `.badge()` makes the icon disappear.

[2017-04-28 08:21] neo725 commented on #109
i have an issue.
my website apply on favico.js, and it works great on firefox
but in chrome, the badge font size will be larger
could somebody tell me what it happend?

screen shot like this:
![2017-04-28_16-18-02](https://cloud.githubusercontent.com/assets/6042415/25520507/bd36ea56-2c2e-11e7-8511-ac7bcf2d093d.png)

[2017-06-04 21:46] BenediktMagnus opened #127 "Does not work inside an iframe"
Very great library! Thank you very much for making it.
Today I noticed that it does not work inside an iframe (of course, sadly). Could you implement an interface (maybe with postMessage?) for easily making it work inside an iframe? Would be very nice to have that included.

[2017-06-15 08:46] SoftCreatR opened #128 "Domain expired"
Just in case that you didn't notice it: The domain of your website is expired, so we cannot access the documentation, etc.

[2017-06-15 10:10] ejci commented on #128
damn. I forgot to pay :)
Should be sorted out in few hours once the domain is back.
Thanks for letting me know.

[2017-08-25 08:09] gpiwowarski-alison opened #130 "does not work with multiple icons"
Hi, the setup on our website is as follows:

link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"
link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"
link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"
link rel="manifest" href="manifest.json"
link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5"
meta name="theme-color" content=

[2017-08-30 11:17] gpiwowarski-alison opened #131 "Does not work with favicons fed from CDN"
Hi, we are using CouldFlare CDN to host all our images. Since recently we do the same with the icons. Since migration to CloudFlare the badge in favicon does not work yet on our local development where we source images locally the badge is there and working.
Is there a domain dependency or something similar in place in the plugin?
Is there a walkaround for that?

Thanks a million

[2017-09-13 18:52] vcapretz opened #133 "Add tests/linting scripts/code coverage"
It would be nice to have tests and some lint (I personally suggest eslint) so when someone changes something they can be sure it's not breaking anything on the project!

The code coverage can help us to check if we are dealing with every possible error on the code

[2017-10-14 13:58] jpillora opened #135 "Custom font documentation"
Was going to PR though not sure where the docs live.

Currently they say:

[code]

It should read:
[code]

[2017-10-22 18:39] vesper8 opened #136 "19 commits since last tagged release, please tag new release!!"
Hello @ejci!

Your library is very useful, still very useful today.. as can be seen by the vast amount of stars and forks. However I was having some problems getting it to work properly after installing via bower and just now I realized I am using a very old release (0.3.10)

I count 19 commits including some important fixes since the last release in October 2015

I think a lot of people having pr

[2017-10-27 07:07] gopalkriagg opened #137 "Doesn't work when favicon is simply present in root directory"
One of the ways to insert Favicons to all the webpages is to simply include favicon.ico in root folder of website (and then there is no need to make any code change in any webpage to include favicon). However, favico.js doesn't seem to work with this approach (atleast in Chrome).

Thank you for such a great library, btw!

[2017-10-30 11:38] JobLeonard opened #138 "Firefox 58 will default to require permissions for reading canvas data"
https://www.ghacks.net/2017/10/28/firefox-58-warns-you-if-sites-use-canvas-image-data/

https://bugzilla.mozilla.org/show_bug.cgi?id=967895

This will likely break a lot of stuff. For example, [it has already popped up in this issue in RES](https://github.com/honestbleeps/Reddit-Enhancement-Suite/issues/4486) (which is how I found out about this library).

Not sure if there is any workaround other

[2017-11-01 03:43] evserykh opened #139 "Can't get it working"
I use _Chromium Version 62.0.3202.62 (Official Build) Built on Ubuntu, running on Ubuntu 16.04 (64-bit)_ and I'm trying to get it working and I don't see any errors with the following simple code:

[code]
Am I missing something? 🤔

[2017-11-19 18:20] susy1206 opened #140 "SHOPIFY"
So im very new to all of this, but I run my own website spoiledbrat.co.uk , I am on the shopify platform & would love to implement this to allow my favicon to show cart number

My issue is I have no idea where to implement the code? And which piece of coding should I enter

Could anyone assist?

[2018-01-09 09:50] ml054 commented on #85
@adam-lynch Iterating over elements worked for me, see:
https://github.com/ml054/ravendb/blob/4a42436c5dfa03ba664f2ae8df4eadfbe087e58b/src/Raven.Studio/typescript/common/shell/favNodeBadge.ts

[2018-02-08 22:53] scheinercc commented on #137
Same in Firefox. Might be worth mentioning on the website and the README.

[2018-02-16 10:37] didaxRedux commented on #139
This library not work when favicon is not defined inside your head section.
`<link rel="shortcut icon" type="image/png" href="...">`

[2018-02-16 10:39] didaxRedux commented on #137
Same issue when you define a .ico favicon in your head section.
It's necessary an image (png, jpg, ...) icon!

[2018-03-07 22:49] sebastianfdez commented on #61
Hey! The source of the Angular Demo is down

[2018-03-19 08:14] jcubic opened #141 "Webcam example don't work because of https"
In Google Chrome to use a webcam you now need to serve the website over https.

[2018-04-11 09:14] parmendra opened #142 "Need to show badge number just after fav icon"
Hi

I am working on a project where we need to show notification, I am using this incredible library, this is awesome, The scenario is whenever any new update appears, the Badge pop and cover almost  70% part of fav icon, is it possible to show badge number just after fav logo,

Please suggest, i don't want to drop this script,

[2018-04-26 17:27] kylebakerio commented on #141
Came here to report this (that webcome isn't working, didn't look in to reason). Chrome 64 here.

[2018-04-26 17:29] kylebakerio commented on #126
(Sounds like this should be closed, no?)

[2018-04-27 17:51] tiagonbotelho commented on #131
@gpiwowarski-alison is the error you are seeing related to the CORS policy? I believe I am having the same problem!

[2018-05-06 03:26] egmsystems opened #143 "navigator.getUserMedia chrome [Deprecation] HTTPS"
https://github.com/ejci/favico.js/blob/6a3f430be559f93d96573e2a4a0116e154c11319/favico.js#L439

favico.min.js:formatted:311 [Deprecation] getUserMedia() no longer works on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.

[2018-07-31 14:44] lavinasachdev3 opened #144 "favicon does not get updated in bookmarks"
There is a noticeable lag in updating the favicon in the bookmark bar. The page gets updated with the favicon but the bookmarked icon takes a longer time to update.

![image](https://user-images.githubusercontent.com/26721349/43466797-f8333f9a-94fd-11e8-9eea-da6bc8ac36eb.png)

[2018-09-01 13:03] hadifarnoud commented on #126
maybe the fix was not implemented yet. super cool script btw.

[2018-09-10 05:55] shazron opened #145 "Safari 12: get Apple to support dynamic favicons (dupe my bug report)"
Safari 12 now supports favicons in tabs, however, we still can't dynamically change the favicon after the favicon has been loaded and cached. This is a problem if you use Gmail, Slack, Travis CI, AppVeyor and numerous other websites.

See: http://openradar.appspot.com/radar?id=4939007582535680

If you use [Brisk](https://github.com/br1sk/brisk), right click on the Dock icon, and select "Duplicate

[2018-09-10 05:58] shazron commented on #136
@ejci if you need help getting this done, let me know I can help

[2018-11-29 16:00] Disane87 opened #146 "Angular +2 Support?"
Is it planned to get a wrapper for Angular 2+?

[2018-11-29 22:06] hackerman-approves commented on #146
Why ?

[2019-02-20 17:10] fabiocaccamo opened #147 "Customizable badge size"
I need a very simple usage: only badge without text.
I did it by passing a one-space string as text: `favicon.badge(' ');`

Now, without text, I would like to display a smaller badge, is it possible?

[2019-04-09 11:36] craigdanj commented on #130
Yep I've run into the same issue. I need a solution to this too. Do let me know if there is a way.

[2019-04-11 08:23] craigdanj opened #148 "No api to update favicon color, animation style etc after initialisation."
So after I've initialised the favicon using `new Favico({})` I noticed that there doesnt seem to be a way to update the badge color/animation style etc. There is a 'badge' api to update the text in the badge but what if I want to update the colors?

Is there a way to do this?

The way I solve this is by reinitialising the favicons but that causes other problems. is there an easier way to do this?

[2019-08-02 14:54] ScottChapman opened #149 "Licensing"
Would you mind clarifying your intent with dual licenses? Clearly GPL is pretty restrictive and likely would have undesirable consequences when used in a web client (I think that would be consider static linking and thus apply).

I suspect your intention (language used in package.json) was that either license could apply, it is at the user's discretion?

[2019-08-19 10:15] MarcoDeT opened #150 "Firefox 46: Bug on drawing favicon when no link tag is used"
Firefox 46 runs into an error when it executes the drawImage line (see below) and no link tag for a favicon is in the html. The reason for that error is that this browser version is not able to draw an empty image on the canvas.
Could you please correct that?

![2019-08-19 12_03_22-Dokument1 - Word](https://user-images.githubusercontent.com/20768947/63257234-9c435300-c279-11e9-8f4e-de2213800b85.pn

[2019-09-02 13:35] myagoo commented on #148
In the source code of the latest release (0.3.10), there seems to be a `setOpt` method.
In the npm latest release (also 0.3.10), there is no `setOpt` method.

[2019-09-19 01:16] kapitannwel opened #151 "Doesn't disappear when value is zero"
I have this code:

[code]

If I click on the button 1-5, the favicon updates its value, but if I click on the button with zero value, there are no update even if the console.log writes 0.

anything i am missing?

[2019-09-19 01:37] kapitannwel commented on #151
got this :

[code]

[2019-09-19 01:37] #151 closed, assigned to nobody

[2019-11-12 22:07] turt2live opened #152 "Doesn't work with Chrome 78 (most of the time)"
The first badge update goes through fine, but then updates are only applied when the user is looking at the page. This seems to be a Chrome change because it works fine in earlier versions of Chrome, but the fix for the time being is to trigger the update twice.

[2019-11-25 08:43] #133 closed, assigned to nobody

[2019-12-30 14:09] stekie commented on #152
The canvas context which receives the draw calls doesn't update the canvas display immediately in new chrome versions when the page is not visible.
It is however updated after the next tick in the event loop. You, therefore, can change the "link.setIcon"  function in the source code to:

link.setIcon = function (canvas) {
     setTimeout(function() {
          var url = canvas.toDataURL('image/png

[2020-08-18 19:28] felix2056 opened #153 "Support for Vue"
Can we have this please? 💯

[2020-08-18 19:38] felix2056 commented on #141
I really don't see how this is related to the plugin. Normally browsers like chrome and firefox will never allow non-https sites to run webrtc after Chrome 47+ version. This is their secure origin policy.
Although you can do some hack for this with some changes in ngnix.cong file but am not sure you'd want to go that far.

[2020-08-18 22:45] kylebakerio commented on #141
the point is the demo/example is broken, and needs to be updated.

Obviously this is how Chrome works. The example just hasn't been updated since before chrome had that requirement.

[2020-08-19 06:18] felix2056 commented on #141
@kylebakerio if that's the case then instead of waiting for the fix, you can install the free let's encrypt certificate on your server, it'll only take 5 minutes and lasts for 90 days.
Renewal is also free

[2020-08-19 06:29] jcubic commented on #141
Yes the issue is about demo that runs on http (see the title of the issue), it's not the code itself or your website that use the library.

[2020-08-19 13:36] kylebakerio commented on #141
You're not hearing us, felix. Stop responding like we're idiots, take a second, and read what is being written here. We're not talking about a problem the repo code has. We're talking about the demo the repo is using to advertise itself.

[2020-08-19 13:39] kylebakerio commented on #141
http://lab.ejci.net/favico.js/

"start webcam"

in console:

[code]

[2020-08-19 13:41] kylebakerio commented on #141
Also, most of the demos are broken in general. Several work, but many don't.

[2020-08-27 11:17] nivethaganeshan opened #154 "Font icon problem"
hi, can u help me to show font icon on favicon.

favicon url changed as null
reference:

![image](https://user-images.githubusercontent.com/21139165/91435926-c82de700-e884-11ea-86a4-7ea75da55928.png)

thanks in advance.

[2020-08-28 10:14] nivethaganeshan commented on #154
@ejci kindly explain

[2020-10-01 15:10] brandonfl commented on #149
I have the exact same question :disappointed:
Also GPL is restrictive, like, cant use this lib if the lib is in GPL

[2020-10-08 18:12] PrakashPaul commented on #67
I need help to under stand why there is a check for
if (_queue.length > 100) {
throw new Error('Too many badges requests in queue.');
}
what if queue lenght is more then 100 ? example chat application user getting more then 100 messges......

[2020-10-08 18:18] PrakashPaul opened #155 "what if queue lenght is more then 100 ?"
I need help to understand why there is a check for
if (_queue.length > 100) {
throw new Error('Too many badges requests in queue.');
}
what if queue lenght is more then 100 ? example chat application user getting more then 100 messges......

[2021-04-18 12:45] rudstone opened #156 "Reset favicon"
Hi,

How to reset this favicon ?
I try : favicon.reset(); , not working for me....
Thks

[2021-07-06 11:33] zehawki commented on #66
I would like to have this too - need a simple way to dynamically change the favicon from a image URL. However since this has been open since 2105, I guess this is not going to be supported?

[2021-12-08 16:39] did commented on #149
hey @ejci, first, thanks for your awesome work! And same question as @ScottChapmanWas & @brandonfl. Thanks for your answer!

[2022-01-10 06:17] themikesam commented on #156
do you have the full code for favicon? I mean how you define the variable.

[2022-07-20 16:14] RichardD2 opened #157 "Firefox warning: InstallTrigger is deprecated and will be removed in the future"
In Firefox 102, I see a warning logged to the console on [the project home page](http://lab.ejci.net/favico.js/):

It seems this has been deprecated since Firefox v100:
[1754441 - Deprecate InstallTrigger](https://bugzilla.mozilla.org/show_bug.cgi?id=1754441)

As far as I can see, [this is only used for browser detection](https://github.com/ejci/favico.js/blob/6a3f430be559f93d96573e2a4a0116e154c11

[2022-08-02 13:05] Furqan2 commented on #12
@ejci favicon.reset() is not working can you guide please